.personal-attribute {
    margin-left: 1%;
    margin-top: 1%;
    padding: 2%;
    min-height: 200px;
    background-color: white;
    
}

.personal-attribute-avatar {
    float: left;
}

.personal-attribute-description {
    max-width: 800px;
    float: right;
}