.ant-upload.ant-upload-select-picture-card {
    border: 0;
    background: #f0f2f5;
    width: 15rem;
    height: 15rem;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0;
}

.uploader {
    height: 15rem;
    overflow: hidden;
    text-align: center;
}

.uploader svg {
    width: 50%;
    height: 50%;
    color: whitesmoke;
    margin: 25%;
}

.icon {
    width: 15rem;
    height: 15rem;
    z-index: 10;
    left: 0;
    position: absolute;
    text-align: center;
    backdrop-filter: blur(1px) opacity(66%);
}