.ant-upload.ant-upload-select-picture-card {
    border: 0;
    background: #f0f2f5;
    width: 15rem;
    height: 15rem;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0
}

.certification-form {
    max-width: 100%;
    padding: 1.5rem 12rem 1.5rem 12rem;
    margin: 7% 10%;
}

.certification-button {
    width: 100%;
}

.certification-button-wrapper {
    margin-top: 3rem;
    padding: 0 20%;
    text-align: center;
}