.ant-upload.ant-upload-select-picture-card {
    border: 0;
    background: #f0f2f5;
    width: 15rem;
    height: 15rem;
}

.ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0
}

.change-password-button {
    width: 100%;
}

.change-password-button-wrapper {
    margin-top: 3rem;
    padding: 0 20%;
    text-align: center;
}

.user-data-form {
    max-width: 100%;
    padding: 4rem 15rem 6rem 15rem;
    margin: 7% 10%;
}