.result{
    margin: 1% 0 1% 1%;
}

.result-item{
    padding: 2%;
    border-bottom: 1px solid rgb(213,213,213);
    margin-bottom: 1%;
}

.ant-pagination{
    margin-left: 25%;
}

.decription{
    width: 30%;
    overflow: hidden
}

.paper-num{
    padding-right: 2%;
    width: 48%;
}

.split{
    border-right: 1px solid rgb(213,213,213);
    margin: 0 5% 0 5%;
    height: 22px;
}

.use-num{
    padding-left: 2%;
    margin: 0;
    width: 48%;
}

.num{
    color: #3c80bc;
    font-weight: 500;
}