.content{
    width: 100%;
    word-break:break-all;
    margin: auto;
    margin-top: 5%;
    hyphens: auto;
}

.ant-card-head{
    height: 40px;
    min-height: 40px;
}

.ant-card-head-title{
    padding-top: 8px;
}

.radar-chart{
    padding-top: 2rem;
    margin: auto;
}