:root {
    --transize: 1.5;
}

#search {
    display: inline-flex;
}

#content {
    text-align: justify;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 30%;
    background-size: cover;
    padding: 0 0 0 0;
}

.bg {
    text-align: center;
    width: 100%;
    height: inherit;
    align-items: center;
    position: center;
    backdrop-filter: blur(2px);
    z-index: -2;
    vertical-align: center;
}

.group {
    margin-top: 20%;
    margin-bottom: 20%;
    display: inline-flex;
    width: 52%;
    max-width: 50rem;
    min-height: 3rem;
    align-content: center;
}

.group span {
    zoom: var(--transize);
}

.sel {
    zoom: var(--transize);
    width: 12rem;

}

.sel div {
    min-height: 3rem;
    font-size-adjust: inherit;
}

.drop {
    zoom: var(--transize);
}
